@page
@model BugPages.Pages.IndexModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home";
}

@{
    var i = 1;
}

<h2>Bug Pages</h2>
<hr>

@if (TempData["message"] != null)
{
    <div class="alert alert-info" role="alert">@TempData["message"]</div>
}

<a asp-page="create" class="btn btn-success">Create new</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <td>Id</td>
            <th>Name</th>
            <th>Desc</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.Bugs)
        {
            <tr>
                <td>@i</td>
                <td>@bug.Id</td>
                <td>@bug.Name</td>
                <td>@bug.Summary</td>
                <td>@bug.Status</td>
                <td>
                    <a asp-page="details" asp-route-id="@bug.Id" class="btn btn-default">Details</a>
                    <a asp-page="delete" asp-route-id="@bug.Id" class="btn btn-danger">Delete</a>
                    <a asp-page="edit" asp-route-id="@bug.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

